@charset "UTF-8";
:root {
  --numDays: 5;
  --numHours: 18;
  --timeHeight: 60px;
  --calBgColor1: #ECF2FF;
  --eventBorderColor: #f2d3d8;
  --eventColor1: #ffd6d1;
  --eventColor2: #fafaa3;
  --eventColor3: #e2f8ff;
  --eventColor4: #d1ffe6;
}
/* .events1 > * { */
/*   height: var(--timeHeight); */
/* } */
.weekcalendar {
  display: grid;
  gap: 10px;
  grid-template-columns: auto 1fr;
  margin: 1.5rem;
}

.timeline1 {
  display: grid;
  grid-template-rows: repeat(var(--numHours), var(--timeHeight));
}

.days {
  display: grid;
  grid-column: 2;
  gap: 5px;
  grid-template-columns: repeat(auto-fit, 86px);
}

.events1 {/* 파란배경 */
  display: grid;
  grid-template-rows: repeat(var(--numHours), var(--timeHeight));
  border-radius: 5px;
  background: var(--calBgColor1);
}

/*Place on Timeline*/
.start-9 {
  grid-row-start: 1;
}
.start-930 {
  grid-row-start: 2;
}
.start-10 {
  grid-row-start: 3;
}
.start-1030 {
  grid-row-start: 4;
}
.start-11 {
  grid-row-start: 5;
}
.start-1130 {
  grid-row-start: 6;
}
.start-12 {
  grid-row-start: 7;
}
.start-1230 {
  grid-row-start: 8;
}
.start-13 {
  grid-row-start: 9;
}
.start-1330 {
  grid-row-start: 10;
}
.start-14 {
  grid-row-start: 11;
}
.start-1430 {
  grid-row-start: 12;
}
.start-15 {
  grid-row-start: 13;
}
.start-1530 {
  grid-row-start: 14;
}
.start-16 {
  grid-row-start: 15;
}
.start-1630 {
  grid-row-start: 16;
}
.start-17 {
  grid-row-start: 17;
}
.start-1730 {
  grid-row-start: 18;
}


/*  Event */

.title {  /* 예약일정(다 주석임) */
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.event1 { /* 예약일정(다 주석임) */
  border: 1px solid var(--eventBorderColor);
  border-radius: 5px;
  padding: -0.5rem;
  margin: 0.2rem 0.2rem; /* 예약박스 마진 */
  background: white;
}

.space,
.date {
  height: 60px
}

/* Global / Etc */

/* body { */
/*   font-family: system-ui, sans-serif; */
/* } */

.corp-fi {
  background: var(--eventColor1);
}

.ent-law {
  background: var(--eventColor2);
}

.writing {
  background: var(--eventColor3);
}

.securities {
  background: var(--eventColor4);
}

.date {
  display: flex;
  gap: 0.3em;
  
}

.date-num {
  font-size: 2rem;
/*   font-weight: 600; */
  display: inline;
  
}

.date-day { /* 요일 */
  display: inline;
  font-weight: 200;
  position: relative;
  bottom:-15px;
  font-size: 1rem;
}


.time-marker{
	margin-bottom:40px;
	
}