<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vet.clinic.dao.Chart1DAO">
	<select id="petdetailAjax" resultType="Hashmap" parameterType="String"> 
		SELECT pet_name, pet_birth, pet_gender, pet_weight, type_name, owner_name, pet_no,receive_state
		FROM receptionview
		WHERE receive_no = #{receiveno};
	</select>
	
	<select id="prescAjax" resultType="Hashmap" parameterType="SearchDTO">
		SELECT medical_no, medical_category, medical_name, FORMAT(medical_price , 0) AS medical_price,medical_stock
		FROM medicalList
		<if test="search_name !=null">
			<choose>
				<when test="search_name=='all'">
					WHERE medical_name LIKE CONCAT('%',#{search_value},'%')			
				</when>
				<when test="search_name=='drug'">
					WHERE medical_category = '약품'
					<if test="search_value != null">
					AND medical_name LIKE CONCAT('%',#{search_value},'%')
					</if>			
				</when>
				<when test="search_name=='exam'">
					WHERE medical_category = '진료'
					<if test="search_value != null">
					AND medical_name LIKE CONCAT('%',#{search_value},'%')
					</if>			
				</when>
				<when test="search_name=='vac'">
					WHERE medical_category = '접종'
					<if test="search_value != null">
					AND medical_name LIKE CONCAT('%',#{search_value},'%')
					</if>			
				</when>
			</choose>
		</if>
		ORDER BY medical_category
	</select>
	
	<select id="prescSaveAjax" parameterType="Hashmap" resultType="Hashmap">
		SELECT medical_name, medical_category, medical_no, medical_price
		FROM medicalList
		WHERE medical_no IN
		<foreach collection="rightno" item="rightno1" open="(" close=")" separator=",">
			 #{rightno1}
		</foreach>
	</select>
	
	<!-- 호출 버튼 클릭 1 > 2로 변경 -->
	<update id="callClientAjax" parameterType="String">
		UPDATE reception 
		SET receive_state = 2
		WHERE receive_no=#{receiveno}
	</update>
	
	
	
	
	
	
	
</mapper>