<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vet.clinic.dao.ChartDAO">

	<select id="petSearch" parameterType="HashMap"
		resultType="HashMap">
		SELECT ROW_NUMBER()
		over(ORDER BY p.pet_no) AS pno, p.*,
		REGEXP_REPLACE(p.owner_tel, '(02|.{3})(.+)(.{4})', '\\1-\\2-\\3') as s_Tel
		FROM
		(
		SELECT *
		FROM petview
		<if test="pet_search != null">
			WHERE
			pet_name LIKE CONCAT('%',#{pet_search}, '%') OR
			owner_name LIKE CONCAT('%',#{pet_search}, '%') OR
			owner_tel LIKE
			CONCAT('%',#{pet_search}, '%') OR
			pet_birth LIKE
			CONCAT('%',#{pet_search}, '%')
		</if>
		) p
	</select>

	<select id="profile" parameterType="Integer"
		resultType="HashMap">
		SELECT * FROM petview WHERE pet_no=#{pet_no}
	</select>
	
	<select id="receiveboard" resultType="Hashmap">
		SELECT ROW_NUMBER()
		over(ORDER BY r.receive_time) AS bno,
		receive_no, pet_name, owner_name, type_name, pet_no,receive_state,
		DATE_FORMAT(r.receive_time,'%H:%i') as receive_time,
		DATE_FORMAT(r.reservation_date,'%H:%i') as reservation_date
		FROM 
		(SELECT *
		FROM
		receptionview 
		WHERE DATE_FORMAT(receive_time, "%Y-%m-%d") = CURDATE()
		AND (reservation_yn = 'Y' OR reservation_yn IS NULL)
		) r
		ORDER BY receive_state DESC, receive_time;
	</select>
</mapper>