<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vet.clinic.dao.ClientDAO">

	<select id="clientlist" resultType="ClientDTO">
	SELECT *
	FROM owner
	WHERE owner_del = 1
	<if test="search_name != null">
	<choose>
	<when test="search_name == 'owner'">
	AND (owner_name LIKE CONCAT('%',#{search_value },'%') or owner_tel LIKE CONCAT('%',#{search_value },'%'))
	</when>
	</choose>
	</if>
	order by owner_no desc
	</select>

	<select id="petlist" resultType="ClientDTO">
	SELECT *
	FROM clientview 
	WHERE pet_del = 1
	<if test="search_name != null">
	<if test="search_name == 'pet'">
	AND (pet_name  LIKE CONCAT('%',#{search_value },'%') or pet_birth LIKE CONCAT('%',#{search_value },'%'));
	</if>
	</if>
	order by pet_no desc
	</select>

	<select id="profileMap" resultType="ClientDTO">
		SELECT *
		FROM clientview
		<if test="clientNno != null">
			WHERE owner_no=#{clientNno }
		</if>
	</select>
	
	<select id="clientDetailAjax" parameterType="ClientDTO" resultType="ClientDTO">
	SELECT *
	FROM clientview
	WHERE owner_no=#{detailNo }
	
	</select>
	
	<select id="clientPetDetailAjax" parameterType="ClientDTO" resultType="ClientDTO">
	SELECT *
	FROM clientview
	WHERE owner_no=#{detailNo }
	AND pet_del = 1
	</select>
	
	
	<update id="petDel" parameterType="ClientDTO">
		UPDATE pet SET
		pet_del = 0
		WHERE pet_no=#{petNo }
	</update>
	
	
	<update id="clientDel" parameterType="ClientDTO">
		UPDATE owner SET
		owner_del = 0
		WHERE owner_no=#{clientNo }
	</update>
	
	
	<update id="cilentPetDel" parameterType="ClientDTO">
		UPDATE pet SET
		pet_del = 0
		WHERE owner_no=#{clientNo }
	</update>
	
	<insert id="clientAdd" parameterType="ClientDTO">
		INSERT INTO owner SET
		owner_name = #{floatingClientName },
		owner_email =
		#{floatingClientEmail },
		owner_tel = #{floatingClientTel },
		owner_addr =
		#{floatingClientAddr },
		owner_sms = #{smsAgree },
		owner_memo =
		#{floatingClientComments }
	</insert>

	<update id="clientUpdate" parameterType="ClientDTO">
		UPDATE owner SET
		owner_name = #{updateOwnerName },
		owner_email = #{updateOwnerEmail },
		owner_tel = #{updateOwnerTel },
		owner_addr = #{updateOwnerAddr },
		owner_sms = #{updateOwnerSms },
		owner_memo = #{updateOwnerMemo }
		WHERE
		owner_no=#{clientNo }
	</update>

	<select id="petTypeList" resultType="ClientDTO">
		SELECT *
		FROM petType
	</select>

	<insert id="petAdd" parameterType="HashMap">
		INSERT INTO pet SET
		pet_name=#{petAddName},
		pet_birth=#{petBirth},
		pet_gender=#{petSex},
		pet_weight=#{petAddWeight},
		pet_memo=#{petAddComments},
		type_no=#{petAddType},
		<if test="owner_noPAdd != '' ">
		owner_no=#{owner_noPAdd};
		</if>
		<if test="owner_nameAdd != '' ">
		owner_no=(SELECT owner_no FROM owner WHERE owner_name = #{owner_nameAdd});
		</if>
	</insert>

	
	<select id="petUpdateAjax" parameterType="HashMap" resultType="HashMap">
		SELECT *
		FROM clientview2
		WHERE pet_no=#{petNo }
	</select>
	
	<update id="petUpdate" parameterType="HashMap">
		UPDATE pet SET
   		pet_name = #{petUpdateName },
		pet_weight = #{petUpdateWeight },
		type_no = #{petUpdateType },
		pet_gender = #{petUpdateSex },
		pet_birth = #{petBirth },
		pet_memo = #{petUpdateComments },
		<if test="petDeath != ''">
		pet_death = #{petDeath }
		</if>
		<if test="petDeath == ''">
		pet_death = NULL
		</if>
   		WHERE pet_no=#{petNo }
	</update>
	


	<select id="indexPet" resultType="HashMap"
		parameterType="HashMap">
		SELECT ROW_NUMBER()
		over(ORDER BY p.pet_no) AS pno, p.*
		FROM
		(
		SELECT *
		FROM petview
		<if test="search_value != null">
			WHERE
			pet_name LIKE CONCAT('%',#{search_value}, '%') OR
			owner_name LIKE CONCAT('%',#{search_value}, '%') OR
			owner_tel LIKE CONCAT('%',#{search_value}, '%')
		</if>
		) p
	</select>
</mapper>