<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vet.clinic.dao.DataDAO">

	<select id="medicalList" resultType="MedicalDTO"
		parameterType="HashMap">
		SELECT ROW_NUMBER()
		over(order by m.medical_no DESC) AS
		mno,m.*
		FROM
		(
		SELECT * FROM medicalList
		WHERE medical_category=#{category}
		<if test="search_name != null">
			<choose>
				<when test="search_name == 'all'">
					AND (medical_name LIKE CONCAT('%', #{search_value},
					'%') OR medical_subcate LIKE CONCAT('%',
					#{search_value}, '%'))
				</when>
				<when test="search_name == 'name'">
					AND medical_name LIKE CONCAT('%', #{search_value},
					'%')
				</when>
				<when test="search_name == 'category'">
					AND medical_subcate LIKE CONCAT('%',
					#{search_value}, '%')
				</when>
			</choose>
		</if>
		) m
		ORDER BY mno
		LIMIT #{pagenum},#{contentnum}
	</select>
	<select id="category" resultType="String"
		parameterType="HashMap">
		SELECT DISTINCT medical_subcate
		FROM ${table}
		WHERE
		medical_category=#{category}
	</select>
	<select id="TotalCount" resultType="Integer"
		parameterType="HashMap">
		SELECT COUNT(*) FROM ${table}
		<if test='table == "medicalList"'>
			WHERE medical_category= #{category}
			<if test="search_name != null">
				<choose>
					<when test="search_name == 'all'">
						AND (medical_name LIKE CONCAT('%', #{search_value},
						'%') OR medical_subcate LIKE CONCAT('%',
						#{search_value}, '%'))
					</when>
					<when test="search_name == 'name'">
						AND medical_name LIKE CONCAT('%', #{search_value},
						'%')
					</when>
					<when test="search_name =='category'">
						AND medical_subcate LIKE CONCAT('%',
						#{search_value}, '%')
					</when>
				</choose>
			</if>
		</if>
		<if test='table == "petType"'>
			<choose>
				<when test="search_value != null">
					WHERE type_name LIKE CONCAT('%',#{search_value},'%')
				</when>
			</choose>
		</if>
	</select>

	<select id="petTypeList" resultType="petTypeDTO">
		SELECT ROW_NUMBER()
		over(ORDER BY t.type_no DESC) AS
		tno,t.*
		FROM
		(
		SELECT
		*
		FROM petType
		<if test="search_value != null">
			WHERE type_name LIKE CONCAT('%', #{search_value},'%')
		</if>
		) t
		ORDER
		BY tno
		LIMIT #{pagenum}, #{contentnum};


	</select>
	<insert id="mediAdd" parameterType="HashMap">

		INSERT INTO medicalList
		SET
		medical_name=#{medical_name},
		medical_subcate=#{medical_subcate},
		medical_category=#{medical_category},
		medical_price=#{medical_price};

	</insert>


	<insert id="petTypeAdd" parameterType="HashMap">
		INSERT INTO petType
		SET
		type_name=#{type_name};

	</insert>
	<delete id="petTypeDel" parameterType="Integer">
		DELETE FROM petType
		WHERE
		type_no =#{type_no};
	</delete>
	<select id="petTypeDetail" parameterType="Integer"
		resultType="HashMap">
		SELECT * FROM petType
		WHERE type_no=#{type_no};

	</select>
	<select id="medicalDetail" parameterType="Integer"
		resultType="HashMap">
		SELECT * FROM medicalList
		WHERE medical_no=#{medical_no};

	</select>

	<delete id="medicalDel" parameterType="Integer">
		DELETE FROM medicalList
		WHERE
		medical_no =#{medical_no};
	</delete>
	<update id="medicalUpdate" parameterType="HashMap">
		UPDATE medicalList SET
		medical_name=#{medical_name},medical_price=#{medical_price},
		medical_subcate=#{medical_subcate}
		WHERE
		medical_no =#{medical_no};

	</update>

	<update id="petTypeUpdate" parameterType="HashMap">
		UPDATE petType SET
		type_name=#{type_name}
		WHERE type_no=#{type_no};
	</update>


</mapper>