<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vet.clinic.dao.IndexDAO">

	<select id="indexReserv" resultType="HashMap">
		SELECT ROW_NUMBER()
		over(ORDER BY r.reserv_date) AS
		rno,r.pet_name,r.owner_name,r.reserv_time
		FROM
		(SELECT *
		FROM
		reservationview WHERE DATE_FORMAT(reservation_date, "%Y-%m-%d") =
		CURDATE()) r
		ORDER BY rno
	</select>
	<select id="reservCount" resultType="Integer">
		SELECT COUNT(*) as
		reservCount
		FROM
		reservationview WHERE DATE_FORMAT(reservation_date,
		"%Y-%m-%d") =
		CURDATE();
	</select>
	<select id="recepCount" resultType="Integer">
		SELECT COUNT(*) as recepCount
		FROM
		reception WHERE DATE_FORMAT(receive_time, "%Y-%m-%d") =
		CURDATE()
		AND receive_state = 1
	</select>
	<select id="diagCount" resultType="Integer">
		SELECT COUNT(*) as
		diagCount
		FROM
		reception WHERE DATE_FORMAT(receive_time, "%Y-%m-%d") =
		CURDATE() AND receive_state = 2
	</select>
	<select id="receivepay" resultType="HashMap">
		SELECT ROW_NUMBER()
		over(ORDER BY i.receive_time) AS
		ino,i.pet_name,i.owner_name,i.receive_state,i.pay_yn
		FROM
		(SELECT *
		FROM
		indexreceivepay WHERE DATE_FORMAT(receive_time, "%Y-%m-%d") =
		CURDATE()) i
		ORDER BY ino
	</select>
	<select id="indexPet" resultType="HashMap"
		parameterType="HashMap">
		SELECT ROW_NUMBER()
		over(ORDER BY p.pet_no) AS pno, p.*,REGEXP_REPLACE(p.owner_tel, '(02|.{3})(.+)(.{4})', '\\1-\\2-\\3') as o_Tel
		FROM
		(
		SELECT *
		FROM petview
		<if test="search_value != null">
			WHERE
			pet_name LIKE CONCAT('%',#{search_value}, '%') OR
			owner_name LIKE CONCAT('%',#{search_value}, '%') OR
			owner_tel LIKE
			CONCAT('%',#{search_value}, '%')
		</if>
		) p
	</select>
	<select id="indexNotice" resultType="HashMap">

		SELECT ROW_NUMBER()
		over(ORDER BY n.notice_no) AS nno, n.*
		FROM
		(
		SELECT * from
		noticeview

		) n
		ORDER BY nno DESC
		LIMIT 0, 6;
	</select>
</mapper>