<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vet.clinic.dao.PayDAO">

	<select id="payList" resultType="PayDTO" parameterType="PageDTO">
		SELECT ROW_NUMBER()
		OVER(ORDER BY chart_no ) AS rownum , pay_no,
		listpay_date, pay_yn, totalPrice, chart_no, owner_name, pet_name
		FROM
		paydetailview
		<if test="toDate !=null and !toDate.equals('') and fromDate !=null and !fromDate.equals('')">
			WHERE format_date BETWEEN #{fromDate} AND #{toDate}
		</if>
		<if test="search_name !=null  and !search_name.equals('')">
			<choose>
				<when test="search_name =='all'">
						WHERE pet_name LIKE CONCAT('%',#{search_value},'%') OR
						 owner_name LIKE CONCAT('%',#{search_value},'%') OR
						chart_no LIKE CONCAT('%',#{search_value},'%') 
				</when>
			</choose>
			<choose>
				<when test="search_name == 'petname'">WHERE pet_name LIKE CONCAT('%',#{search_value},'%')
				</when>
				<when test="search_name == 'ownername'">WHERE owner_name LIKE
					CONCAT('%',#{search_value},'%')</when>
				<when test="search_name == 'chartno'">WHERE chart_no LIKE CONCAT('%',#{search_value},'%')
				</when>
			</choose>
		</if>
		<if test="todayDate !=null  and !todayDate.equals('')">
			WHERE format_date = #{todayDate}
		</if>
		<if test="pay_yn !=null  and !pay_yn.equals('')">
			WHERE pay_yn = #{pay_yn}
		</if>
		ORDER BY rownum DESC
		LIMIT #{pagenum}, #{contentnum};
	</select>

	<select id="contentTotal" resultType="Integer" parameterType="PageDTO">
        SELECT COUNT(*) FROM paydetailview
        <if test="toDate !=null and !toDate.equals('') and fromDate !=null and !fromDate.equals('')">
		 WHERE format_date BETWEEN #{fromDate} AND #{toDate}
		</if>
		<if test="search_name !=null  and !search_name.equals('')">
		<choose>
				<when test="search_name == 'petname'">WHERE pet_name LIKE CONCAT('%',#{search_value},'%') </when>
				<when test="search_name == 'ownername'">WHERE owner_name LIKE CONCAT('%',#{search_value},'%')</when>
				<when test="search_name == 'chartno'">WHERE chart_no LIKE CONCAT('%',#{search_value},'%') </when>
			</choose>
		</if>
		<if test="todayDate !=null  and !todayDate.equals('')">
		WHERE format_date = #{todayDate}
		</if>
	</select>

	<select id="payDetail" parameterType="Integer" resultType="PayDTO">
		SELECT p.*
		FROM paydetailview p
		WHERE pay_no =#{payNo};
	</select>
	
	<select id="chartDetail" parameterType="String" resultType="PayDTO">
		SELECT medical_category, medical_subcate, medical_name, medicaldata_ea, medical_price, staff_name
		FROM  medicaldataview
		WHERE chart_no = #{chartno};

	</select>

	<update id="payBefore" parameterType="Integer">
		UPDATE pay SET
		pay_yn ='Y',
		pay_date = NOW()
		WHERE pay_no = #{payNo};
	</update>
	<update id="payCancel" parameterType="Integer">
		UPDATE pay SET
		pay_yn ='N',
		pay_date = NULL
		WHERE pay_no = #{payNo};
	</update>
</mapper>