<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vet.clinic.dao.PetDAO">

<select id="petInfo" resultType="PetDTO">
	SELECT *
	FROM petview
	WHERE pet_no = #{petNo }
</select>
	
	
</mapper>