<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vet.clinic.dao.PetDAO">

<select id="petInfo" resultType="PetDTO">
	SELECT *
	FROM petview
	WHERE pet_no = #{petNo }
</select>

<select id="petVaccine" resultType="PetDTO">
	SELECT pet_no , pet_name , vacdata_no ,MAX(vacdata_date) as vacdata_date , chart_no , vac_no , vac_name 
	FROM vaccineview v
	WHERE pet_no = #{petNo }
	GROUP BY v.vac_no
	ORDER BY vacdata_date DESC
</select>

<select id="excelList" resultType="PetDTO">
	SELECT pet_no , pet_name , vacdata_no ,MAX(vacdata_date) as vacdata_date , chart_no , vac_no , vac_name 
	FROM vaccineview v
	WHERE pet_no = #{petNo }
	GROUP BY v.vac_no
	ORDER BY vacdata_date DESC
</select>

<select id="petChart" resultType="PastChartDTO">
	SELECT *
	FROM chartview
	WHERE pet_no = #{petNo }
</select>

<select id="petExam" resultType="PastChartDTO">
	SELECT *
	FROM chartexamview
	WHERE pet_no = #{petNo }
	AND chart_no = #{chartNo }
</select>


<select id="petDrug" resultType="PastChartDTO">
	SELECT *
	FROM chartdrugview
	WHERE pet_no = #{petNo }
	AND chart_no = #{chartNo }
</select>
	
</mapper>