<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vet.clinic.dao.PetDAO">

<select id="petInfo" resultType="PetDTO" parameterType="PetDTO">
	SELECT *
	FROM petview
	WHERE pet_no = #{petNo }
</select>

<select id="petVaccine" resultType="PetDTO">
	SELECT pet_no , pet_name , medicaldata_no ,MAX(chart_date) as chart_date , chart_no , medical_no , medical_name
	FROM vaccineview v
	WHERE pet_no = #{petNo }
	GROUP BY v.medical_no 
	ORDER BY chart_date DESC
</select>

<select id="petChart" resultType="PastChartDTO">
	SELECT *
	FROM chartview
	WHERE pet_no = #{petNo }
	ORDER BY chart_date DESC
</select>

<select id="petMedicalData" resultType="PastChartDTO">
	SELECT *
	FROM medicaldataview
	WHERE pet_no = #{petNo }
	AND chart_no = #{chartNo }
</select>

	
</mapper>