<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vet.clinic.dao.SMSDAO">
	<select id="smsclientlist" resultType="SMSDTO">
		SELECT pet_name, owner_name, owner_tel
		FROM smsview
		ORDER BY pet_name
		
	</select>
	
	<select id="smsFormName" resultType="String">
		SELECT smsForm_title
		FROM smsForm
	</select>
	
	<select id="smsform" parameterType="Integer" resultType="HashMap">
		SELECT *
		FROM smsForm
		WHERE smsForm_no = #{smsform_no }
	</select>
	
	<update id="smsform_setdel" parameterType="HashMap">
		UPDATE smsForm
		SET
		smsForm_title = #{sms_title },
		smsForm_content = #{sms_content }
		WHERE smsForm_no = #{sms_hidden }
	</update>
	
	<insert id="smsDataSave" parameterType="HashMap">
		INSERT INTO smsData
		SET
		smsData_date = #{requestTime },	
		smsData_receiver = #{to },
		smsData_status = #{status },	
		smsData_title = #{title },
		smsData_content = #{content }	
	</insert>
	
	<select id="smsDetail" resultType="HashMap">
		SELECT *
		FROM smsData
		ORDER BY smsData_date DESC
	</select>
	
	<select id="searchClient" parameterType="HashMap" resultType="SmsSearchDTO">
		
				SELECT pet_name, owner_name, owner_tel
				FROM smsview 
				WHERE 1=1
					<if test='client != null and !"".equals(client) and client != "보호자"'>
						AND (((pet_name LIKE CONCAT('%',#{client },'%'))
						OR (owner_name LIKE CONCAT('%',#{client },'%')) 
						OR (owner_tel LIKE CONCAT('%',#{client },'%'))))
					</if>
				AND pet_name NOT IN 
				<foreach collection="pet_name" item="petnames" index="index" separator="," open="(" close=")">
					 #{petnames }
				</foreach>
				<if test="client == '보호자'">
					GROUP BY owner_name
					ORDER BY owner_name
				</if>
			
	</select> 
	<!-- <select id="searchClient" parameterType="HashMap" resultType="SmsSearchDTO">
		SELECT pet_name, owner_name, owner_tel
		FROM smsview 
		WHERE 
				((pet_name LIKE CONCAT('%',#{client },'%'))
				OR (owner_name LIKE CONCAT('%',#{client },'%')) 
				OR (owner_tel LIKE CONCAT('%',#{client },'%')))
		AND pet_name NOT IN 
		<foreach collection="pet_name" item="petnames" index="index" separator="," open="(" close=")">
		 #{petnames }
		</foreach>
	</select> -->

</mapper>