<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vet.clinic.dao.StaffDAO">

	<select id="staffList" resultType="StaffDTO"
		parameterType="HashMap">
		SELECT ROW_NUMBER() over(ORDER BY s.staff_name) AS sno, s.*,
		REGEXP_REPLACE(s.staff_tel, '(02|.{3})(.+)(.{4})', '\\1-\\2-\\3') as
		s_Tel
		FROM
		(
		SELECT *
		from
		staff
		WHERE 1=1
		<if test="search_name != null">
			<choose>
				<when test="search_name == 'all'">
					AND (staff_name LIKE
					CONCAT('%',#{search_value},'%') OR
					staff_id LIKE
					CONCAT('%',#{search_value},'%') OR
					staff_tel LIKE
					CONCAT('%',#{search_value},'%') OR
					staff_email LIKE CONCAT('%',#{search_value},'%'))
				</when>
				<when test="search_name == 'name'">
					AND staff_name LIKE CONCAT('%',
					#{search_value},'%')
				</when>
				<when test="search_name =='id'">
					AND staff_id LIKE CONCAT('%',#{search_value}, '%')
				</when>
				<when test="search_name =='tel'">
					AND staff_tel LIKE CONCAT('%',#{search_value},'%')
				</when>
				<when test="search_name =='email'">
					AND staff_email LIKE
					CONCAT('%',#{search_value},'%')
				</when>
			</choose>
		</if>
		<if test="staff_grade !=null  and !staff_grade.equals('')">
			AND staff_grade = #{staff_grade}
		</if>
		) s
		ORDER BY sno
		LIMIT #{pagenum}, #{contentnum};

	</select>


	<select id="contentTotal" resultType="Integer"
		parameterType="HashMap">
		SELECT COUNT(*) FROM staff
		WHERE 1=1
		<if test="search_name != null">
			<choose>
				<when test="search_name == 'all'">
					AND (staff_name LIKE
					CONCAT('%',#{search_value},'%') OR
					staff_id LIKE
					CONCAT('%',#{search_value},'%') OR
					staff_tel LIKE
					CONCAT('%',#{search_value},'%') OR
					staff_email LIKE CONCAT('%',#{search_value},'%'))
				</when>
				<when test="search_name == 'name'">
					AND staff_name LIKE CONCAT('%',
					#{search_value},'%')
				</when>
				<when test="search_name =='id'">
					AND staff_id LIKE CONCAT('%',#{search_value}, '%')
				</when>
				<when test="search_name =='tel'">
					AND staff_tel LIKE CONCAT('%',#{search_value},'%')
				</when>
				<when test="search_name =='email'">
					AND staff_email LIKE
					CONCAT('%',#{search_value},'%')
				</when>
			</choose>
		</if>
		<if test="staff_grade !=null  and !staff_grade.equals('')">
			AND staff_grade = #{staff_grade}
		</if>
	</select>

	<select id="staffDetail" parameterType="Integer"
		resultType="HashMap">
		SELECT * FROM staff
		WHERE
		staff_no=#{staff_no}
	</select>

	<update id="gradeUpdate" parameterType="HashMap">
		UPDATE staff SET
		staff_grade=#{staff_grade}
		WHERE
		staff_no =#{staff_no};

	</update>

	<delete id="staffDel" parameterType="Integer">
		DELETE FROM staff
		WHERE
		staff_no = #{staff_no};
	</delete>
</mapper>