<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vet.clinic.dao.StockDAO">
	<select id="stockList" resultType="StockDTO">
		SELECT medical_subcate, medical_name, medical_price, medical_buying, medical_company, medical_buyEa
		FROM medicalList
		WHERE medical_category != '진료'
		ORDER BY medical_name
	</select>
	
	<select id="m_company" resultType="String">
		SELECT DISTINCT medical_company
		FROM medicalList
		WHERE medical_company IS NOT NULL
		ORDER BY medical_company
	</select>
	
	<select id="m_subcate" resultType="String">
		SELECT DISTINCT medical_subcate
		FROM medicalList
		WHERE medical_category != '진료'
		ORDER BY medical_subcate
	</select>

</mapper>